.skills li {
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(25, 31, 52, .9);
}
.skills{
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  animation: scroll 15s linear infinite;
  width: max-content;
}
.skills-container {
  width: 100%;         /* or set a max-width if you want */
  overflow: hidden;    /* hides the overflowing scrolling content */
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
