*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #00adb5;
  --secondary-color: #1E3E62;
  --accent-color: #0B192C;
  --tile-color: #FF6500;
  --text-color: #eeeeee;
}
h1 {
  margin-left: 1rem;
  margin-top: .5rem;
  color: var(--tile-color);
}
h2{
  margin-left: 2rem;
  margin-top: .5rem;
  color: var(--primary-color);
}
h3{
  margin-left: 3rem;
  margin-top: .5rem;
  color: var(--secondary-color);
}
p{
  margin-left: 4rem;
  margin-top: .5rem;
  color: var(--text-color);
}
.res-list li{
  margin-left: 4rem;
  margin-top: .5rem;
  color: var(--text-color);
}
.res-container{
  background-color: rgba(211, 211, 211, .5);
  padding: 1rem;
  border-radius: 10px;
  margin: 2rem;
}