*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-color: #00adb5;
  --secondary-color: #1E3E62;
  --accent-color: #0B192C;
  --tile-color: #FF6500;
  --text-color: #eeeeee;
}
.profile{
  border-radius: 100%;
}
body {
  color: var(--text-color);
  background-color: var(--secondary-color);
  background-image: url(/assets/img/tire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  color: var(--tile-color);
}
.navBar{
  display: inline-flex;
  justify-content: space-between;
  color: var(--tile-color);
  padding: 10px 20px;
  list-style-type: none;
  text-decoration: none;
  z-index: 10;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  padding: 10px 20px;
}
nav li{
  display: inline;
}
nav a:hover{
  background-color: var(--accent-color);
  color: var(--tile-color);
  text-decoration: none;
  border-radius: 25px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container img{
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
}
.name-card{
  position: absolute;
  width: 300px;
  top: 10vh;
  left: 20%;
  transform: translateX(-50%);
  background: transparent;
  padding:20px;
  border-radius: 25px;
  border: black 5px solid;
  
  z-index: 2;
}
.name-card h1{
  color: var(--tile-color);
  text-align: center;
  background: transparent;
  font-size: 3rem;
}
.name-card p{
  background: transparent;
  padding: 10px;
  text-align: center;
}

footer{
  text-align: left;
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.github-logo{ 
  width: 30px;
}
