*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f0f0f;

}
:root{
  --primary-color: #00adb5;
  --secondary-color: #1E3E62;
  --accent-color: #0B192C;
  --tile-color: #FF6500;
  --text-color: #eeeeee;
  
}
.profile{
  border-radius: 100%
}body {
  color: var(--text-color)
}
h1{
  color: var(--tile-color);
}
.navBar{
  display: inline-flex;
  justify-content: space-between;
  color: var(--text-color);
  align-items: center;
  padding: 10px 20px;
  list-style-type: none;
  text-decoration: none;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--secondary-color);
}
nav li{
  display: inline;
}
nav a:hover{
  background-color: var(--accent-color);
  color: var(--tile-color);
  text-decoration: none;

}
.background{
  width: 50vw;
  height: 100vh;
  text-align: center;
}