@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
/** * Global Styles
 * This file contains the global styles for the website.
 * It includes styles for the body, navbar, hero section, and other components.
 */
 /** * Reset Styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#home {
  color: var(--text-color);
  background-color: var(--secondary-color);
  background-image: url(/assets/img/tire.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#aboutme {
  background-color: gray;
  background-image: url(/assets/img/aboutme-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#portfolio {
  background-color: gray;
  background-image: url(/assets/img/port-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#resume {
  background-color: gray;
}
#contactme {
  background-color: gray;
}

/** Variables */
:root{
  --secondary-color: #07407b;
  --primary-color: #0e0f3b;
  --accent-color: #0B192C;
  --tile-color: #f7931e;
  --text-color: #7fcdee;
  --bg-color:#767676;
}

/** NavBar Styles */
.navBar{
  display: inline-flex;
  justify-content: space-between;
  color: var(--tile-color);
  padding: 10px 20px;
  list-style-type: none;
  text-decoration: none;
  z-index: 10;
}
nav{
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}
nav ul{
  display: flex;
  justify-content:flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  display: inline;
  font-size: 1.5rem;
  font-weight: 600;
}
nav a:hover{
  background-color: var(--accent-color);
  color: var(--tile-color);
  text-decoration: none;
  border-radius: 25px;
}

/** Home Styles */
.hero{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  position: relative;
  gap: 5vw;
  padding: 0 5vw
}
.name-card{
  width: 300px;
  background: transparent;
  padding: 2.5rem;
  border-radius: 25px;
  border: var(--primary-color) 3px solid;
  box-shadow: 0px 0px 100px rgba(0, 31, 142, 0.5);
  z-index: 2;
}
.name-card h1{
  color: var(--tile-color);
  text-align: center;
  background: transparent;
  font-size: 3rem;
}
.name-card p{
  background: transparent;
  padding: 10px;
  text-align: center;
}

#contact-me{
  background-color: rgba(118,118,118,0.8);
  padding: 1rem;
  border-radius: 30px;
  margin-right: 5vw;
  height:fit-content;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
#contact-me img{
  width: 70px;
}

/** General Styles */
.content-container h1 {
  text-align: center;
  margin-top: .5rem;
  color: var(--tile-color);
}
h1{
  font-family: 'Anton', sans-serif;
}
.content-container h2{
  margin-left: 2rem;
  margin-top: .5rem;
  color: var(--primary-color);
}
.content-container h3{
  margin-left: 3rem;
  margin-top: .5rem;
  color: var(--secondary-color);
}
.content-container p{
  font-size: larger;
  margin-left: 4rem;
  margin-top: .5rem;
  color: var(--text-color);
  text-indent: 1em;
}
.content-container #intro{
  text-align: center;
  color: var(--tile-color);
}
.content-container li{
  margin-left: 4rem;
  margin-top: .5rem;
  color: var(--text-color);
}
.content-container {
  background-color: rgba(118,118,118,0.8);
  width: 100%;
  padding: 1rem;
  border-radius: 30px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-wrap: pre-wrap;
}
.profile{
  border-radius: 50%;
  width: 180px;
}

/** Portfolio Styles */
.portfolio{
  background-image: url(/assets/img/port-bg.jpg);
}
.skills li {
  padding: 1rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: rgba(25, 31, 52, 1);
  color: var(--text-color);
}
.skills{
  margin-top: 1.7rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  animation: scroll 30s linear infinite;
  width: max-content;
}
.skills-container {
  width: 100%;
  overflow: hidden;    
  position: relative;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.port-item {
  position: relative;
  width: 120px;
  overflow: hidden;
  transition: width 0.8s ease-in-out;
}
.port-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 25px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}
.port-img {
  width: 650px;
  height: 550px;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 25px;
  clip-path: inset(0 70% 0 0);
  transition: clip-path 0.8s ease-in-out;
}
.port-img:hover + .port-text,
.port-text:hover{
  transition: opacity 0.8s ease-in-out;
  opacity: 1;
}
.port-img:hover {
  clip-path: inset(0 0 0 0);
  transition: transform 0.8s;
  transition: clip-path 0.8s ease-in-out;
}
.port-item:hover {
  position: relative;
  width: 650px;
  z-index: 10;
  transition: width 0.8s ease-in-out;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
}

/** About Me Styles */
.image-container{
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 1rem;
  width: 100%;
}
.images{
  border-radius: 20%;
  width: 200px;
  margin-top: 3rem;
  margin-left: 3rem;
}
#btn{
  background-image: linear-gradient(to right, #fb8239, #e75710);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: .5rem;
  margin-left: 3rem;
  max-width: 200px;
}
#btn:hover{
  background-image: linear-gradient(to right, #a51200, #450b00);
}